header {
    display: flex; /* Käytetään flexboxia elementtien asettelulle */
    align-items: left; /* Keskittää elementit vertikaalisesti */
    justify-content: left; /* Keskittää elementit horisontaalisesti */
    background-color: #f0f0f0; /* Taustaväri */
}

header h1 {
    margin-right: 20px; /* Oikealle marginaali, jotta kuva ei ole liian lähellä tekstiä */
    font-size: 35px; /* Fontin koko */
    padding-top: 30px;
    padding-left: 10px;
}

header img {
    height: 120px; /* Kuvan korkeus */
    width: 220px; /* Säilyttää kuvan alkuperäisen kuvasuhteen */
    padding-left: 30px;
}